.case-modal {
  height: 77vh;
  width: 100vw;
  position: fixed;
  left: 0;
  background-color: #141414;
  z-index: 20000;
  transition: bottom 0.5s ease-in-out;
}
.modal-close {
  position: absolute;
  width: 48px;
  height: 48px;
  padding: 12px;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  outline: none;
  color: white;
}
.case-name {
  color: white;
  text-align: center;
  font-family: Inter, sans-serif;
  /* text-transform: uppercase; */
  font-size: 14px;
  font-weight: 900;
  margin: 17px 0 17px;
}

.rollbar-selector-top,
.rollbar-selector-bottom {
  display: flex;
  justify-content: center;
}

.rollbar-selector-bottom {
  margin-top: 87px;
}

.rollblock {
  position: relative;
  width: 100%; /* или 60vw, как окно */
  height: 103px; /* или что-то чуть больше .case-roll-prize */
  overflow: hidden; /* <- скрываем выходящие призы */
}

.rollbar {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 100%;
  top: 7.5px;
  gap: 4px;
}

.selector {
  width: 1px;
  height: 100px;
  position: absolute;
  left: calc(50% - 0.5px);
  background-color: white;
}

.roll-button {
  width: calc(100% - 78px);
  height: 47px;
  margin-left: 39px;
  margin-top: 32px;
  transition: all 0.5s ease-in-out;
  border-radius: 8px;
  background-color: #0088ff;
  color: white;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 900;
  border: none;
  outline: none;
}

.rollblock svg {
  transition: all 0.5s ease-in-out;
}

.roll-button:disabled {
  background-color: #ff2d55;
  border: none;
  outline: none;
}
.case-prizes {
  margin-top: 32px;
  padding: 0px 39px;
}
.case-possible-prizes-text {
  color: #595959;
  font-size: 12px;
  font-weight: 500;
  font-family: Inter, sans-serif;
}
.case-possible-prizes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  align-items: flex-start;
  gap: 15px;
  overflow: scroll;
  margin-top: 5px;
  max-height: calc(77vh - 280px - 20px);
  border-radius: 8px 8px 0 0;
}

.demo-block {
  display: flex;
  padding: 20px 15px 5px;
  justify-content: space-between;
  color: white;
  font-family: Inter, sans-serif;
  font-size: 12px;
}
