.prize-card {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1 / 1;
}
.prize-card svg {
  transform: scale(0.5);
  position: absolute;
  left: 1px;
}
.prize-price {
  position: absolute;
  padding: 0;
  left: 5%;
  top: 5%;
  width: 37%;
  height: 15.6%;
  border-radius: 6px;
  background-color: #d9d9d934;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.prize-price span {
  font-size: 9px;
  margin-left: 3px;
  font-family: Inter, sans-serif;
  color: white;
}

.prize-image {
  transform: scale(1.05);
  position: absolute;
  left: 0;
  top: 0;
  aspect-ratio: 1 / 1;
  /* width: 100%;
  height: 100%; */
}
