.app {
  width: 100%;
  height: calc(100% - 80px);
}

.modal-background {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.688);
}
